<div class="sidebar-fixed position-fixed">

  <p><i class="fa fa-pie-chart mr-3"></i>Tableau de bord:</p>

  <div class="list-group list-group-flush">

    <button class="list-group-item list-group-item-action waves-effect" 
    [ngClass]="{'active': !switchf}"
    (click)="switchf=false;valuechanged()"
    >
      Secteur
    </button>
    <button class="list-group-item list-group-item-action waves-effect"
    [ngClass]="{'active': switchf}"
    (click)="switchf=true; valuechanged()"
    >
      Type
    </button>
  </div>
</div>
