<select class="form-control" (change)="selected($event.target.value)" name="sellist1">
  <option>All</option>
  <option *ngFor="let f of filter">
    {{f}}
  </option>
</select>
<br><br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">type</th>
      <th scope="col">secteur</th>
      <th scope="col">professionnel</th>
      <th scope="col">etat</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of incidents"  [hidden]="i.etat!=selectedoption && All">
      <th scope="row" ><a (click)="open(i)" class="btn text-primary">{{i.type.type}}</a></th>
      <td>{{i.secteur.secteur}}</td>
      <td>{{i.pro==null? null: i.pro.username}}</td>
      <td>{{i.etat}}</td>
      <td><a class="btn btn-danger" (click)="del(i.id)">
        <i class="fa fa-trash-o fa-lg"></i></a>
      </td>
    </tr>
</table>